* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  min-height: 100%;
}
img {
  outline: none;
}
body {
  background-image: url("./component/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./Montserrat-Font/./static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./Montserrat-Font/./static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./Montserrat-Font/./static/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./Montserrat-Font/./static/Montserrat-Regular.ttf);
}
